#licensed-v-unlicensed {
	$gray: #454B5F;
	$blue: #00acdf;
	$blue-light: #69d1ff;
	$turqoise: #40e8e3;
	$orange: #EF8248;
	$orange-light: #EFA780;
	$tangerine: #ffa975;
	$rem-scale: (1.0 / 1.6);
	position: relative;
	h2 {
		text-align: center;
		@include center-x(absolute);
		top: 4.5%;
		font-size: 1.4rem * $rem-scale;
		@include breakpoint(medium up) {
			font-size: 1.8rem * $rem-scale;
		}
		font-weight: 100;
		color: $primary-color;
		span {
			color: #454B5F;
			font-size: 1.4rem;
			@include breakpoint(medium up) {
				font-size: 2em;
			}
			display: block;
			margin-top: 0.5em;
		}
	}
	button {
		position: absolute;
		top: 16.36980492%;
		width: 42%;
		font-size: 1.8rem * $rem-scale;
		line-height: 4.9rem * $rem-scale;
		text-transform: uppercase;
		color: white;
		font-family: $header-font-family;
		text-align: center;
		opacity: 0.33;
		transition: opacity 0.3s;
		@include breakpoint(medium up) {
			width: 34.765625%;
			font-size: 2.4rem * $rem-scale;
			line-height: 6.6rem * $rem-scale;
		}
		&.unlicensed {
			left: 5%;
			@include breakpoint(medium up) {
				left: 13.02083333%;
			}
			background-color: $orange;
			border-bottom: 4px solid $orange-light;
		}
		&.licensed {
			right: 5%;
			@include breakpoint(medium up) {
				right: 13.02083333%;
			}
			background-color: $blue;
			border-bottom: 4px solid $blue-light;
		}
		&.selected, &:hover {
			opacity: 1.0;
		}
	}
	.poi {
		list-style-type: none;
		position: absolute;
		transform: translate(-50%, -50%);
		transition: width 0.3s, height 0.3s;
		width: 50px;
		height: 50px;
		&.small {
			width: 50px;
			height: 50px;
		}
		@include breakpoint(medium up) {
			width: 160px;
			height: 160px;
			&:hover {
				width: 180px;
				height: 180px;
			}
			&.small {
				width: 100px;
				height: 100px;
				&:hover {
					width: 115px;
					height: 115px;
				}
			}
		}
		.circle {
			border: 5px solid transparentize($turqoise, 0.1);
            @at-root #licensed-v-unlicensed .poi.unlicensed .circle {
                border: 5px solid transparentize($tangerine, 0.1);
            }			
			@include breakpoint(medium up) {
				border-width: 10px !important;
			}
			border-radius: 50%;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
			width: 100%;
			height: 100%;
			position: relative;
			cursor: pointer;
		}
		.icon {
			transform: translate(-50%, -50%);
			position: absolute;
			background-color: $blue;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			line-height: 25px;
			font-size: 17px;
			@include breakpoint(medium up) {
				width: 50px;
				height: 50px;
				line-height: 50px;
				font-size: 35px;
			}
			color: white;
			text-align: center;
		}
		&.unlicensed {
			.icon {
				background-color: $orange;
			}
		}
	}
}

.reveal.licensed-v-unlicensed {
	$gray: #454B5F;
	$blue: #00acdf;
	$blue-light: #69d1ff;
	$turqoise: #40e8e3;
	$orange: #EF8248;
	$orange-light: #EFA780;
	@include breakpoint(large up) {
		width: 900px;
	}
	$rem-scale: (1.0 / 1.6);
	padding: 0;
	.row.header {
		$line-height: 7.8rem * $rem-scale;
		max-width: none;
		h3 {
			color: #b1b3b5;
			font-size: 1.4rem * $rem-scale;
			line-height: $line-height;
			margin: 0;
			padding: 0;
		}
		button {
			.icon {
				color: #d1d3d4;
				font-size: 1.8rem;
				line-height: $line-height;
			}
		}
		background-color: #F1F2F2;
		.columns {
			width: auto;
			line-height: 6.8rem * $rem-scale;
		}
		.page-indicators {
			display: none;
			@include breakpoint(medium up) {
				display: block;
			}
			ul {
				display: block;
				margin: 0;
				padding: 0;
				list-style-type: none;
				li {
					display: inline-block;
					line-height: $line-height;
					padding-right: 0.3rem;
					span {
						display: none;
					}
					a {
						width: 1.4rem * $rem-scale;
						height: 1.4rem * $rem-scale;
						background-color: #d1d3d4;
						border-radius: 50%;
						display: inline-block;
					}
					&.active {
						a {
							background-color: #808285;
						}
					}
				}
			}
		}
	}
	.slides {
		.columns {
			&.control {
				width: 6%;
				text-align: center;
				min-height: 124px;
				@include breakpoint(medium up) {
					width: 12%;
					min-height: 194px;
				}
				@include breakpoint(large up) {
					min-height: 322px;
				}
				@include breakpoint(xlarge up) {
					min-height: 322px;
				}
				a {
					display: block;
					height: 100%;
				}
				.icon {
					display: block;
					@include center-xy();
					color: #d1d3d4;
					font-size: 1.5rem;
					@include breakpoint(medium up) {
						font-size: 6.43rem;
					}
				}
			}
			&.image {
				width: 34%;
				@include breakpoint(medium up) {
					width: 35%;
				}
				padding-top: 2.0rem * $rem-scale;
				padding-bottom: 2.0rem * $rem-scale;
			}
			&.text {
				width: 50%;
				@include breakpoint(medium up) {
					width: (100% - ((12% * 2) + 35%));
				}
				padding-bottom: 2.0rem * $rem-scale;
				h4 {
					font-size: 1.0rem * $rem-scale;
					margin-top: 3.2rem * $rem-scale;
					margin-bottom: 1.5rem * $rem-scale;
					@include breakpoint(medium up) {
						font-size: 1.4rem * $rem-scale;
						margin-top: 7.2rem * $rem-scale;
						margin-bottom: 1.5rem * $rem-scale;
					}
					color: $primary-color;
					text-transform: uppercase;
					font-weight: normal;
				}

				h3 {
					color: $blue;
					font-weight: 100;
					font-size: 2.0rem * $rem-scale;
					margin-bottom: 1.5rem * $rem-scale;
					@include breakpoint(medium up) {
						font-size: 3.5rem * $rem-scale;
						margin-bottom: 1.5rem * $rem-scale;
					}
				}
				p {
					font-family: $header-font-family;
					font-size: 1.0rem * $rem-scale;
					@include breakpoint(medium up) {
						font-size: inherit;
					}
				}
			}
		}
	}
	ul {
		display: none;
	}
}