.newsletter-intersitial {
    padding-bottom: 8em;
    .newsletter-sign-up-header {
        color: #fb0f1d;
        text-align: center;
        margin: 0.7em 0 1.3em;
    }
    p.newsletter-signup-text {
        font-family: $header-font-family;
        line-height: 1.2;
        font-size: 1.1em;
        margin: 4.5em 0;
    }
    label {
        font-size: 1.1em;
        font-weight: 500;
    }
    input[name=email] {
        border: 2px solid #ccc;
        box-shadow: none;
    }
    .form-action-section { 
        $quiz-selected-answer-background: #97d8cc;
        display: block;
        overflow: hidden;
        $height: 3em;
        margin: 3em 0;
        #submit {
            height: $height;
            background: #169999;
            line-height: $height;
            padding: 0 1em;
            border: 0;
            color: white;
            pointer: cursor;
            &:hover {
                cursor: pointer;
                background: $quiz-selected-answer-background;
            }
        }
        .submit-adjacent-message{
            height: $height;
            line-height: $height;
            display: inline-block;
            margin: 0 1em;
        }
        a.continue {
            float: right;
            height: $height;
            line-height: $height;
            color: #2db0dc;
            text-decoration: underline;
        }
        @media screen and (max-width: 900px) {
            text-align: center;
            a.continue {
                margin-top: 2em;
                width: 100%;
            }
        }
    }
}
