// @import "compass";
// @import "compass/css3/user-interface";
@import "colors";
@import "settings";
@-webkit-keyframes wiggle {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-10deg);}
	50% {transform: rotate(10deg);}
	100% {transform: rotate(0deg);}
}
@keyframes wiggle {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-10deg);}
	50% {transform: rotate(10deg);}
	100% {transform: rotate(0deg);}
}
@keyframes glow {
	0% {opacity: 0.9;}
	25% {opacity: 0.4;}
	50% {opacity: 0.9;}
	75% {opacity: 0.4;}
	100% {opacity: 0.9;}
}
@-webkit-keyframes glow {
	0% {opacity: 0.9;}
	25% {opacity: 0.4;}
	50% {opacity: 0.9;}
	75% {opacity: 0.4;}
	100% {opacity: 0.9;}
}
[data-popup-open], [data-popup-close] {
	cursor: pointer;
}
[data-popup] {
	$transition-time: 0.8s;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999999;
	background-color: white;
	overflow: auto;
	&.pre-close {
		transform: scale(0);
		transition: opacity $transition-time, transform $transition-time, visibility 0s $transition-time;
	}
	&.pre-active {
		transform: scale(0);
		transition: all 0s;
	}
	&.active {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
		transition: opacity $transition-time, transform $transition-time, visibility 0s 0s;
	}
}
[data-popup="discovery-timeline"] {
	$mobile-event-height: 90px;
	$red: #cf4c4a;
	$blue: #3e97c7;
	$navy: #4c5160;
	$orange: #e2672c;
	
	@include breakpoint(small only) {
		padding: 20px;
	}

	@include breakpoint(medium only) {
		padding: 20px;
	}
	
	&.overlay-active {
		overflow: hidden;
	}
	
	.title {
		background-color: transparentize(white, 0.2);
		position: relative;
		padding: 2rem;
		z-index: 99;
		* {color: black;}
		[data-popup-close] {
			float: right;
			border-bottom: 3px solid transparent;
			transition: border-color 0.3s;
			user-select: none;
			&:hover {
				border-bottom-color: black;
                @include breakpoint(large) {
					-webkit-animation: wiggle 1s infinite;
					animation: wiggle 1s infinite;
				}
			}
		}
		h2 {
			float: left;
		}
		em {
			font-size: 0.75em;
			font-weight: 900;
			vertical-align: middle;
		}
		.slider {
			background-color: black;
			float: left;
			margin: 0 4rem;
			padding: 21px 0;
			width: 180px;
			height: 2px;
			box-sizing: content-box;
			cursor: pointer;
			cursor: -webkit-grab;
			cursor: -moz-grab;
			cursor: grab;
			user-select: none;
			background-clip: content-box;
			&.grabbing {
				cursor: pointer;
				cursor: ew-resize;
				cursor: -webkit-grabbing;
				cursor: -moz-grabbing;
				cursor: grabbing;
			}
			.handle {
				$size: 13px;
				position: relative;
				background-color: black;
				left: 0;
				width: $size;
				height: $size;
				margin-top: 1px;
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
		}
        @include breakpoint(medium down) {
			h2 {
				margin: 0 8rem 0 0;
			}
			.slider {
				display: none;
			}
		}
        @include breakpoint(large) {
			padding: 3rem 3rem 0;
			h2 {
				margin: 0 0 0 4rem;
			}
		}
	}
	
	.event-list {
		margin: 0;
		list-style: none;
		font-size: 0;
        @include breakpoint(large) {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
			padding: 8rem 30px;
			text-align: center;
		}
	}
	
	.event {
		position: relative;
		height: $mobile-event-height;
		font-size: 1.6rem;
		color: lightgray;
		text-align: left;
		opacity: 1;
		transition: opacity 1s;
        @include breakpoint(medium down) {
			margin-bottom: 12px;
		}
        @include breakpoint(large) {
			display: inline-block;
			width: 128px;
			height: 100%;
			vertical-align: top;
		}
		&.start-invisible {
			opacity: 0;
			transition: opacity 0s;
		}
		&[data-color="red"] {color: $red;}
		&[data-color="blue"] {color: $blue;}
		&[data-color="navy"] {color: $navy;}
		&[data-color="orange"] {color: $orange;}
		.date {
			background-color: transparentize(white, 0.3);
			padding-top: 0.15em;
			z-index: 1;
			font-size: 3.5rem;
			font-weight: 900;
			text-align: center;
			cursor: pointer;
			user-select: none;
            @include breakpoint(medium down) {
				left: 40px;
				top: 0 !important;
				bottom: 0;
				transform: none !important;
				height: 100% !important;
				padding-left: 1rem;
				padding-right: 1rem;
			}
            @include breakpoint(large) {
				font-size: 5rem;
				left: 0;
				right: 0;
			}
		}
		.thumbnail {
			background: currentColor content-box;
			position: relative;
			height: 100%;
			cursor: pointer;
			user-select: none;
            @include breakpoint(large) {
				height: 60%; // This is a fail-safe; the height is really set in JavaScript.
				border: 4.5px solid transparent;
				will-change: transform;
				&.hover {
					-webkit-animation: glow 2.5s infinite;
					animation: glow 2.5s infinite;
					html.no-cssanimations & {
						opacity: 0.6;
					}
				}
			}
		}
		$img-right-offset: 30px;
        @include breakpoint (medium down) {
			.thumbnail img {
				float: right;
				width: $mobile-event-height;
				height: 100%;
				margin-right: $img-right-offset;
			}
		}
        @include breakpoint(medium only) {
			&:nth-of-type(odd) {
				.thumbnail img {
					margin-right: $img-right-offset + $mobile-event-height;
				}
			}
		}
        @include breakpoint(large) {
			.thumbnail img {
				margin: 16px 0;
			}
			&:nth-of-type(even) .thumbnail img {
				position: absolute;
				bottom: 0;
			}
		}
		.content {
			display: none;
		}
	}
	.scroll-shadow {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: $mobile-event-height + 16px;
		z-index: 50;
		pointer-events: none;
		background-image: linear-gradient(0deg, transparentize(black, 0.5), transparentize(black, 0.9) 66%, rgba(0,0,0,0));
		html.no-cssgradients &, html.no-csstransforms & {
			display: none;
		}
		html.flexboxlegacy.no-flexbox {
			// IE 10
			display: none;
		}
	}
	.overlay {
		background-color: transparentize(white, 0.1);
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		padding: 4rem;
		height: 100%;
		z-index: 99;
		overflow-y: auto;
		@media screen and (max-width: 400px) {
			padding: 2.5rem;
		}
        @include breakpoint(large) {
			padding: 0;
			overflow: hidden;
		}
		&[data-color="red"] .inner {color: darken(saturate($red, 3%), 5%);}
		&[data-color="blue"] .inner {color: darken(saturate($blue, 3%), 5%);}
		&[data-color="navy"] .inner {color: darken(saturate($navy, 3%), 5%);}
		&[data-color="orange"] .inner {color: darken(saturate($orange, 3%), 5%);}
		.inner {
			$navigation-height: 5rem;
			position: relative;
			background-color: currentColor;
			overflow: hidden;
			box-shadow: 0 0 50px transparentize(black, 0.6);
			transition: color 0.4s;
            @include breakpoint (medium only) {
				margin: auto;
				max-width: 600px;
			}
            @include breakpoint (large) {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				.left-side {width: 44%; float: left; height: 100% !important;}
				.right-side {width: 56%; float: right; height: 100% !important;}
			}
			.left-side, .right-side {
				position: relative;
			}
			.date-mover {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
			}
			.date {
				background-color: transparentize(white, 0.2);
				padding: 0.15em 1.5rem 0;
				font-weight: 900;
                @include breakpoint (medium down) {
					top: 0;
					height: 2.5em;
					font-size: 3rem;
					transform: translateX(15px);
				}
                @include breakpoint (large) {
					left: 0;
					height: 2em;
					font-size: 5rem;
				}
			}
			.thumbnail {
				overflow: hidden;
				border-top: 1rem solid transparent;
                @include breakpoint (small only) {
					height: 260px;
				}
                @include breakpoint (medium only) {
					height: 480px;
				}
                @include breakpoint (large) {
					border-top: none;
				}
				img {
					display: block;
                    @include breakpoint (medium down) {
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}
                    @include breakpoint (large) {
						position: absolute;
						top: auto;
						bottom: 0;
						width: 100%;
					}
				}
			}
			.content {
				padding: 1rem 2.5rem 3rem 2.5rem;
				border-bottom: $navigation-height solid transparent;
				overflow-y: auto;
				color: white;
                @include breakpoint (large) {
					padding: 3rem 4rem;
					height: 100%;
				}
				h3 {
				    margin: 2rem 0;
					font-weight: 900;
					font-size: 2.5rem;
				    line-height: 1.2;
				    text-transform: uppercase;
                    @include breakpoint (medium) {
				    	font-size: 1.7rem;
				    }
                    @include breakpoint (xlarge) {
				    	font-size: 2rem;
				    }
				    @media screen and (max-width: 375px) {
				    	font-size: 2rem;
				    }
				}
				p {
                    @include breakpoint (medium) {
						font-size: 1.1rem;
					}
				}
				a {
					color: #A9A9A9;
				}
				cite {
					display: block;
					color: #ccc;
					color: transparentize(white, 0.33);
					font-size: 0.8rem;
					margin-bottom: 2rem;
                    @include breakpoint (medium) {
						font-size: 1rem;
					}
			    }
			}
			.navigation {
				background-color: transparentize(white, 0.82);
				position: absolute;
			    bottom: 0;
			    right: 0;
			    left: 0;
			    height: $navigation-height;
			    padding: 0 2.5rem;
			    user-select: none;
                @include breakpoint (large) {
			    	padding: 0 4rem;
			    }
			    &.first {
			    	.previous {visibility: hidden;}
			    }
			    &.last {
			    	.next {visibility: hidden;}
			    }
			    .close, .previous, .next {
			    	line-height: $navigation-height;
			    	cursor: pointer;
			    	color: white;
			    	transition: color 0.3s;
			    	&:hover {
			    		color: $lilly-khaki;
			    	}
			    }
			    .close {
			    	font-size: 2.8rem;
			    }
			    .previous, .next {
			    	font-size: 2.8rem;
			    	float: right;
			    }
			    .next {
			    	margin-left: 6rem;
			    }
			}
		}
	}
}
