// #19B4A6
// 
/*
responsive inline svg trick for ie from:
css-tricks.com/scale-svg/
*/

@font-face {
    font-family: 'StateFaceRegular';
    src: url('/fonts/stateface-regular-webfont.eot');
    src: url('/fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/stateface-regular-webfont.woff') format('woff'),
    url('/fonts/stateface-regular-webfont.ttf') format('truetype'),
    url('/fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#wireless-taxes-interactive {
    h2 {
        background-color: #19B4A6;
        text-align: center;
        padding: 2rem 1rem;
        color: white;
        font-weight: normal;
        margin-bottom: 0;
        @include breakpoint(medium up) {
            margin-bottom: 4rem;
            font-size: 1.9rem;
        }
    }
    h3, h4 {
        text-align: center;
        font-weight: normal;
    }
    h5 {
        font-family: $body-font-family;
        font-weight: normal;
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 1.0rem;
    }
    p {
        color: #A8A9AC;
    }
    select {
        text-align: right;
        background-color: #F3F4F4;
        color: #A7A9AC;
        border: 0 none transparent;
        font-family: $header-font-family;
        padding: {
            right: 2rem;
        }
    }
    .note {
        padding-top: 3rem;
        font-size: 0.8rem;
    }
}

#us-map-sizer {
  position: relative; 
  height:0; 
  width: 100%; 
  padding: 0;
  padding-bottom: 63.44086022%;
  z-index: 2;
}

#map-column {
    @include breakpoint(medium up) {
        padding-right: 3rem;
    }

}
#us-map {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top:0;
  z-index: 3;
}

#map-key {
    padding-top: 3rem;
    .color-scale {
        width: 100%;
        height: 14px;
        background: {
            image: url('/img/interactives/cell-phone-tax-rate/tax-gradient.jpg');
            size: 100% 100%;
            repeat: repeat-y;
        }
    }
}

#state-text {
    h4.state {
        font-family: StateFaceRegular;
        font-size: 9rem;
        text-align: center;
    }
    h4.name {
        &.st-nh, &.st-nc, &.st-sc {
            font-size: 1.2rem;
            line-height: (1.5625 / 1.2) * 0.9;
        }
    }
    p {
        font-family: $header-font-family;
        text-align: center;
    }
}

#text-column {
    @include breakpoint(medium up) {
        border-left: 1px solid $light-gray;        
    }

    position: relative;
    @include breakpoint(medium up)
    {
        position: static;
    }
    a.icon {
        @include center-y(absolute);
        font-size: 4rem;
        &.previous {
            left: 1rem;
        }
        &.next {
            right: 1rem;
        }
        color: $medium-gray;
    }
}