.all-posts {
	padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 48rem;
	h2 {
		margin-bottom:1.0rem;
	}
	ul {
		margin:0;
		list-style: none;
		li {
			cursor: pointer;
			font-weight:300;
			padding:0.1rem;
			font-size:1.4rem;
			border-bottom:1px solid black;
			transition: background-color .2s ease-in-out;
			a {
				color:#007373;
			}
			&:hover {
				background-color: #f4efed;
				a {
					color: #716259;
				}
			}
			&:last-child {
				border-bottom:0;
			}
		}
	}
}