.filter-content {
	.space-below {
		input.filter-button, input.related-button {
			background-color: $light-gray;
			color: $black;
			font-weight: bold;
			font-size: 1.4rem;
			margin-right: 0.5rem;
			@include breakpoint(small only) {
				width: 100%;
				padding: 0.5em 0.75em;
				white-space: normal;
			}
			&.active, &:hover {
				background-color: $primary-color;
				color: $white;
			}
		}
		a:last-of-type input.filter-button, a:last-of-type input.related-button {
			@include breakpoint(small only) {
				margin-bottom: 0;
			}
		}
		.center-filter {
			text-align: center;
		}
	}
}
#filter-results {
	hr {
		@include breakpoint(small only) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.row {
		max-width:60rem;
		margin:0 auto;		
		@include breakpoint(small only) {
			padding: 3.125rem;
			&.post:nth-of-type(even) {
				background-color: #f2f2f2;
			}
		}
		@include breakpoint(medium) {
			padding: 3.125rem 6.0rem;
		}
		img {
			width: 100%;
			@include breakpoint(small only) {margin-bottom: 3rem;}
		}
		h1 {
			color: $primary-color;
			line-height: 1.1;
			@include breakpoint(medium) {
				font-size: 2.4rem;
			}
		}
		h3 {
			margin-top: -$header-margin-bottom / 2;
		}
		.lead {
			line-height: $global-lineheight;
		}
		.no-decoration {
		    color: $black;
		    &:hover {color: $black;}
		}
		.decoration {
			text-decoration: underline;
			color: $black;
			font-weight: bold;
			&:hover {color: $primary-color;}
		}
		&.slide-up {
			padding:0;
			overflow-y: hidden;
			transition: height 0.5s ease-in-out;
		}
		.text-sect {
			padding-right:4%;
		}
		.right {
			float:right;
		}
	}
}