@font-face {
    font-family: 'Conv_BNNord';
    src: url('/fonts/BNNord.eot');
    src: local('☺'), url('/fonts/BNNord.woff') format('woff'), url('/fonts/BNNord.ttf') format('truetype'), url('/fonts/BNNord.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$header-font-family: 'Conv_BNNord',Sans-Serif;
$paragraph-font-family: 'Cabin';