body {
    overflow-x:hidden;
}

h1 {
    font-weight: normal;
}

h2 {
    color: $green;
    font-family: $header-font-family;
}

p, li, button, .button {
    font-family: $paragraph-font-family;
    font-weight: 400;
}

.donate {
    background-color: $green;
    border-radius: 50px;
    padding: .2rem 1.5rem;
    margin: 1rem 1rem;
    color: #000;
    font-family: $paragraph-font-family !important;
    &:hover {
        color: white;
        background-color: $green;
    }
}

.layout-wrapper {
    max-width: 1440px;
    @include breakpoint(medium up) {
        margin-left: auto;
        margin-right: auto;
    }
}

.content {
    .header-img-container{
        position: relative;
        .bg-img-top {
            width: 100%;
            height: 100%;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .header-img {
            visibility: hidden;
            width: 100%;
            // min-height: 300px;
        }
    }
    .content-wrapper {
        max-width: 750px;
        margin: 5rem auto;
        text-align: center;
        h2 {
            font-size: 2rem;
            margin-bottom: 3.5rem;
            color: $green;
        }
        p {
            margin-bottom: 5rem;
        }
    }
}

.draggable {
    position: fixed;
    top: 80vh;
    right: 5%;
    width: 140px;
    height: 140px;
    background: $green;
    border-radius: 100px;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin-bottom: 0;
        font-size: 20px;
        color: #000;
    }
}
.draggable.is-dragging {
    opacity: 0.7;
}

.no-js [data-responsive-toggle]{
    display:none;
}

.intersitial-link-wrapper {
    padding-bottom: 2rem;
    .intersitial-item {
        margin: 2rem 0;
        position: relative;
        text-align: center;
    
        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            z-index: 99;
        }
        .grey-scale {
            height: 100%;
            width: 100%;
            z-index: 9;
            position: absolute;
            background-color: grey;
            opacity: .7;
            &:hover {
                opacity: 0;
            }
        }
    }
}
