body {
    overflow-x: hidden;
}

h1 {
    font-weight: normal;
}

h2 {
    color: $green;
    font-family: $header-font-family;
}

h3 {
    font-family: $paragraph-font-family;
}

p,
li,
button,
.button {
    font-family: $paragraph-font-family;
    font-weight: 400;
}

.donate {
    background-color: $green;
    border-radius: 50px;
    padding: .2rem 1.5rem;
    margin: 1rem 1rem;
    color: #000;
    font-family: $paragraph-font-family !important;
    &:hover {
        color: white;
        background-color: $green;
    }
}

.layout-wrapper {
    max-width: 1440px;
    @include breakpoint(medium up) {
        margin-left: auto;
        margin-right: auto;
    }
}

.content {
    .header-img-container {
        position: relative;
        .bg-img-top {
            width: 100%;
            height: 100%;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .header-img {
            visibility: hidden;
            width: 100%;
            // min-height: 300px;
        }
        iframe {
            width: 100%;
            height: 720px;
        }
    }
    .content-wrapper {
        max-width: 750px;
        margin: 6rem auto;
        text-align: center;
        h2 {
            font-size: 2rem;
            color: $green;
        }
    }
}

.draggable {
    position: fixed;
    top: 80vh;
    right: 5%;
    width: 140px;
    height: 140px;
    background: $green;
    border-radius: 100px;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.08);
    // 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    // 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    // 0 100px 80px rgba(0, 0, 0, 0.12);
    p {
        margin-bottom: 0;
        font-size: 20px;
        color: #000;
    }
}

.draggable.is-dragging {
    opacity: 0.7;
}

.no-js [data-responsive-toggle] {
    display: none;
}