@mixin hr-style($line-width, $circle-size) {
	margin: nth($hr-margin, 1) $circle-size + $line-width;
	border-bottom: $line-width solid;
	@include breakpoint(medium) {
		&:before, &:after {
			border: $line-width solid;
			height: $circle-size;
			width: $circle-size;
			border-radius: $circle-size;
			margin-top: -$circle-size / 2;
		}
		&:before {margin-left: -$circle-size - $line-width*2}
		&:after {margin-right: -$circle-size - $line-width*2}
	}
}

hr {
	position: relative;
	max-width: none;
	color: transparentize($black, 0.8);
	&.white {color: transparentize($white, 0.2);}
	@include breakpoint(medium) {
		&:before {content: ""; float: left;}
		&:after {content: ""; float: right;}
	}
	@include hr-style(3px, 44px);
	&.thin {@include hr-style(1px, 44px);}
	&.right, &.left {
		width: 75%;
		@include breakpoint(small only) {
			width: 100%;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&.right {
		@include breakpoint(medium) {margin-left: 25%;}
		&:after {display: none;}
	}
	&.left {
		@include breakpoint(medium) {margin-left: 0;}
		&:before {display: none;}
	}
}
