#popup {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparentize(black, 0.05);
	z-index: 99;
	> .content {
		@include breakpoint(landscape) {
			@include center-xy(absolute);
			width: 80%;
			max-width: 1280px;
		}
		@include breakpoint(portrait) {
			width: 100%;
		}
	}
	> .close {
		padding: 1rem;
		text-align: center;
		color: $medium-gray;
		cursor: pointer;
		@include breakpoint(landscape) {
			position: fixed;
			top: 0;
			right: 0;
			font-size: 2rem;
			@include breakpoint(xlarge) {
				padding: 2rem;
			}
		}
	}
}
html.popup-open {
	overflow: hidden;
}
