nav.primary-nav {
	$number-of-links: 6;
	$nav-height: 5rem;
	$background-color: $light-brown;
	background-color: $secondary_color;
	position: relative;
	color: $background-color;
	z-index: 98;
	@include breakpoint(medium) {
		&:not(.split-nav-top):not(.split-nav-bottom) .primary-links {
			margin-left: 0.6rem;
			@include breakpoint(xlarge) {margin-left: 2rem;}
		}
	}
	.site-logo {
		position: relative;
		height: $nav-height;
		color: $white;
		@include breakpoint(500px) {z-index: 1;}
		div {
			margin-left: 0.6rem;
			@include between(font-size, 16px 29px, map-get($breakpoints, 'medium') map-get($breakpoints, 'xlarge'));
			@include breakpoint(small only) {
				font-size: 23px;
				margin-left: 2rem;
			}
			&.large {
				@include breakpoint(medium) {
					margin-left: 2rem;
					font-size: 29px;
				}
				@include breakpoint(xlarge) {
					margin-left: 4rem;
					font-size: 38px;
				}
			}
		}
	}
	.primary-links {
		height:5.0rem;
		@include breakpoint(small only) {
			display: none;
			background-color: #AEE8EB;
			position: absolute;
			left: 0;
			right: 0;
			padding: 1rem 0;
			text-align: right;
			height:auto;
		}
		@include breakpoint(medium) {
			display:block !important;
		}
		a {
			cursor: pointer;
			height:100%;
			display: block;
			position: relative;
			transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
			@include breakpoint(small only) {
				margin-right: 5rem;
				line-height: 2;
			}
			@include breakpoint(medium) {
				float: left;
				margin-left:-0.125rem;
				&.current-page {
					&:after {
						transition: border 0.2s ease-in-out;
						content: " ";
						@include center-x(absolute);
						top: 100%;
						border: solid transparent;
						height: 0;
						width: 0;
						pointer-events: none;
						border-color: transparent;
						border-top-color: $secondary-color;
						border-width: 1.25rem;
					}
				}
			}
			&:hover:after {
				border-top-color: $white;
			}
			&:hover {
				color: $secondary-color;
				@include breakpoint(medium) {
					background: $white;
					color: $secondary-color;
				}
				li {
					color: $secondary-color;
					border-left: 0.125rem solid transparent;
					@include breakpoint(small only) {
						border-left:0;
					}
				}
			}
			li {
				vertical-align: bottom;
				$link-color: $white;
				display: inline-block;
				padding: 0 1rem;
				color: $link-color;
				font-size: 1.3rem;
				letter-spacing: 0.075rem;
				font-weight: normal;
				font-family: $body-font-family;
				transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-left 0.2s ease-in-out;
				@include between(padding-left padding-right, 8px 22px, map-get($breakpoints, 'medium') map-get($breakpoints, 'xlarge'));
				@include between(font-size, 16px 22px, map-get($breakpoints, 'medium') map-get($breakpoints, 'xlarge'));
				@include breakpoint(small only) {
					font-size: 1.375rem;
					transform: translateY(0);
					border-left: 0;
				}
				@include breakpoint(medium) {
					border-left: 0.125rem solid $white;
				}
			}
		}
	}
	.hamburger {
		display: none;
		@include breakpoint(small only) {
			display: block;
		}
		cursor: pointer;
		list-style: none;
		margin: 0;
		padding: 0.625rem 0;
		position: absolute;
		top: 50%;
		right: 1.25rem;
		transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
		transform: translateY(-50%);
		z-index: 1;
		li {
			width: 2.625rem;
			height: 0.375rem;
			background: $white;
			margin: 0.25rem 0 0;
			padding: 0;
			transform: translate3d(0, 0, 0);
			transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
			&.first {margin-top: 0;}
		}
	}
	&.open {
		@include breakpoint(small only) {
			.hamburger li {
				margin: 0 0 0;
				&.first {
					transform: rotate(-135deg) translateY(-0.53125rem);
				}
				&.second {
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
					opacity: 0;
				}
				&.third {
					transform: rotate(135deg) translateY(0.53125rem);
				}
			}
		}
	}
}

