nav.primary-nav {
    .menu-bar {
        display: flex;
        padding: 0;
        a {
            font-family: $header-font-family;
        }
        img {
            height: 80px;
        }
        .menu-bar-left {
            display: flex;
            align-items: center;
            .menu-list {
                display: inline;
                margin: 0;
                background-color: #ffffff;
                .menu-item {
                    &.active {
                        background-color: $navy;
                        border-radius: 25px;
                        a {
                            color: #fff;
                        }
                    }
                }
                .dropdown-item {
                    position: relative;
                    display: inline-block;
                    a {
                        color: #000;
                        padding: 0;
                        margin: 0.7rem 1rem;
                    }
                    &:hover {
                        width: 140px;
                        background-color: $navy;
                        border-radius: 15px 15px 0px 0px;
                        text-align: right;
                        a {
                            color: #fff;
                            text-align: right;
                        }
                    }
                    .dropdown-content {
                        display: none !important;
                        display: inline;
                        z-index: 999999;
                        position: absolute;
                        background-color: $navy;
                        width: 140px;
                        border-radius: 0px 0px 15px 15px;
                        text-align: right;
                        right: 0px;
                        top: 25px;
                    }
                }
                .single-nav-item {
                    &:hover {
                        border-radius: 25px;
                        width: 105px;
                    }
                }
                .dropdown-item:hover .top-nav-item {
                    border-bottom: 1px solid #fff;
                }
                .dropdown-item:hover .dropdown-content {
                    display: inline !important;
                }
            }
        }
    }
    .menu-bar-right {
        flex: 1 1 auto;
        ul {
            justify-content: space-between;
            align-items: center;
            &:first-child {
                margin-left: 5rem;
            }
        }
        .header-logo {
            padding: 0;
        }
        @include breakpoint(small only) {
            .menu {
                width: 100%;
                position: absolute;
                a {
                    color: #fff;
                    font-family: $paragraph-font-family;
                }
            }
        }
    }
    .title-bar {
        justify-content: space-between;
        background-color: #fff;
        color: #000;
        height: 4rem;
        img {
            height: 65px;
        }
        .menu-icon {
            width: 25px;
            color: $green;
            border: none;
            &:focus {
                outline: none;
            }
            &::after {
                /* the block itself, the first line */
                background: $green;
                /* middle and bottom */
                box-shadow: 0 7px 0 $green, 0 14px 0 $green;
                /* respect WebKit */
                -webkit-box-shadow: 0 7px 0 $green, 0 14px 0 $green;
            }
        }
    }
    .top-bar {
        background-color: $navy;
        ul {
            background-color: $navy;
            font-family: $paragraph-font-family;
            a {
                color: #fff;
            }
        }
    }
    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
        display: none;
    }
}

.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }
    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}