nav.primary-nav {
    &.active {
        background-color: $navy;
        ul {
            background-color: $navy;
            color: #fff;
            padding: 25px;
            z-index: 9;
            li {
                border: 1px solid white;
                border-radius: 25px;
                margin: 8px;
                a {
                    padding: 5px 20px;
                    color: #fff;
                }
            }
        }
        .title-bar {
            background-color: $navy;
        }
        .donate {
            display: none;
        }
    }
    a {
        font-family: $header-font-family;
    }
    .top-bar, ul {
        background-color: #ffffff;
    }
    .top-bar {
        padding: 0;
        img {
            height: 80px;
        }
        .donate {
            width: 150px;
            padding: .3rem;
            margin-top: 0;
        }
        .top-bar-left {
            .single-nav-item {
                a {
                    color: #000;
                }
                &:hover {
                    a {
                        color: #fff;
                        background-color: $navy;
                        border-radius: 25px;
                    }
                }
            }
            .dropdown {
                position: relative;
                display: inline-block;
                a {
                    color: #000;
                    padding: 0;
                    margin: 0.7rem 1rem;
                }
                &:hover {
                    width: 140px;
                    background-color: $navy;
                    border-radius: 15px 15px 0px 0px;
                    a {
                        color: #fff;
                        text-align: right;
                    }
                    
                }
                .dropdown-content {
                    display: none !important;
                    display: inline;
                    z-index: 999999;
                    position: absolute;
                    background-color: $navy;
                    width: 140px;
                    border-radius: 0px 0px 15px 15px;
                    text-align: right;
                }
            }
            
            .dropdown:hover .top-nav-item {
                border-bottom: 1px solid #fff;
            }
        
            .dropdown:hover .dropdown-content {
                display: inline !important;
            }
        }        
        .top-bar-right {
            flex: 1 1 auto;
            ul {
                justify-content: space-between;
                align-items: center;
                &:first-child {
                    margin-left: 5rem;
                }
            }
            .header-logo {
                padding: 0;
            }
            @include breakpoint(small only) {
                .menu {
                    width: 100%;
                    position: absolute;
                    a {
                        color: #fff;
                        font-family: $paragraph-font-family;
                    }
                }
            }
        }
    }
    .title-bar {
        justify-content: space-between;
        background-color: #fff;
        color: #000;
        height: 4rem;
        img {
            height: 65px;
        }
        .menu-icon {
            width: 25px;
            color: $green;
            border: none;
            &:focus {
                outline: none;
            }
            &::after {
                /* the block itself, the first line */
                background: $green;
                /* middle and bottom */
                box-shadow: 0 7px 0 $green, 0 14px 0 $green;
                /* respect WebKit */
                -webkit-box-shadow: 0 7px 0 $green, 0 14px 0 $green;
            }
        }
    }
    .donate {
        color: #000;
        text-align: center;
    }
}