body.contact-us {
    .contact-wrapper {
        margin: 12em auto;
        padding: 0 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .contact-info-wrapper {
            margin-bottom: 3rem;
            @include breakpoint(medium up) {
                margin-bottom: 0;
            }
            .contact-info {
                max-width: 400px;
                p {
                    margin-top: 3rem;
                }
            }
        }
        button {
            background-color: $green;
            border-radius: 25px;
            padding: .5rem 2.5rem;
            font-family: $paragraph-font-family;
        }
        h2,
        h3 {
            color: #000;
            font-weight: 100;
        }
        h2 {
            font-size: 1.8rem;
        }
        h3 {
            font-size: 1.2rem;
        }
        input {
            max-width: 300px;
        }
        input,
        textarea {
            font-family: $paragraph-font-family;
            font-size: .8rem;
            box-shadow: none;
            border: 1px solid #D3D3D3;
        }
    }
}