body.home {
    .header-text {
        position: relative;
        img {
            margin-top: 27%;
            max-width: 75%;
        }
        h1 {
            padding: 4rem 4rem 0rem 4rem;
            margin: 0;
            position: absolute;
            bottom: 0;
            font-size: 55px;
        }
    }
}