body.home {
    .header-text {
        position: relative;
        img {
            @include breakpoint(small only) {
                margin: 1rem 0;
            }
            @include breakpoint(medium up) {
                margin-top: 27%;
            }
            max-width: 75%;
        }
        h1 {
            padding: 4rem 4rem 0rem 4rem;
            margin: 0;
            position: absolute;
            bottom: 0;
            font-size: 55px;
        }
    }
    .home-content-wrapper {
        justify-content: center;
        @include breakpoint(medium up) {
            justify-content: space-around;
        }
        @include breakpoint(large up) {
            justify-content: space-between;
        }
        margin: 0rem auto 5rem auto;
        max-width: 1037px;
    }
}