body.our-stories,
body.events {
    .content-wrapper {
        .empty-posts-wrapper {
            h2 {
                color: #000;
            }
            @include breakpoint(large up) {
                margin: 10rem auto;
            }
        }
        text-align: left;
        .posts-wrapper {
            margin: 4rem 0;
            p {
                margin-bottom: 0;
                color: #000;
            }
            h2 {
                margin-bottom: 1rem;
            }
            .image-wrapper,
            .text-wrapper {
                padding: 2rem;
            }
            .text-wrapper {
                display: flex;
                align-items: center;
            }
            .event-date {
                font-size: 1.3rem;
                font-style: italic;
                margin-top: .5rem;
            }
        }
    }
}