.content-wrapper {
    .content-item:nth-of-type(even) {
        border-radius: 25px;
        background-color: #f6f6f6;
        padding: 3rem 3rem 2rem 3rem;
    }
    .content-item {
        padding: .2rem;
        margin-bottom: 4rem;
        p {
            margin: 0;
        }
        .generic-item-wrapper {
            margin-top: 1rem;
            margin-bottom: 3rem;
        }
        .paragraph-wrapper {
            margin-top: 3rem;
        }
        .vimeo-wrapper {
            iframe {
                width: 100%;
                height: 425px;
            }
        }
        button {
            border: 1px solid $green;
            border-radius: 50px;
            color: #000;
            width: 80%;
            padding: 0.5rem 0;
            &:focus {
                outline: none;
            }
        }
        .generic-item-wrapper {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}