.content-wrapper {
    .content-item {
        &.with-subheader {
            .title-wrapper {
                margin-top: 0;
                margin-bottom: 0;
            }
            .callout-wrapper {
                align-items: center;
                h3 {
                    font-size: 1.3rem;
                }
            }
            .sub-header-wrapper {
                margin-top: 0;
                margin-bottom: 2.5rem;
                ul {
                    display: inline-flex;
                    margin: 0;
                    li {
                        list-style: none;
                        padding: 0 1rem;
                        align-self: center;
                    }
                    div {
                        background-color: #000;
                        width: 3rem;
                        border: 3.5px solid #000;
                        border-radius: 25px;
                    }
                }
            }
            .quote {
                margin-top: .2rem;
                margin-bottom: 1rem;
                h3 {
                    font-size: 1.3rem;
                }
            }
        }
    }
}