.header-quote-wrapper {
    width: 100%;
    .quote-content {
        max-width: 700px;
        margin: 0rem auto 3rem auto;
        h4 {
            font-family: $paragraph-font-family;
            font-size: 1rem;
        }
    }
}