.inspirational-quote-wrapper {
    margin: 2rem auto;
    padding: 2rem 0;
    border-top: 2px solid $green;
    border-bottom: 2px solid $green;
    h3 {
        font-family: $paragraph-font-family;
        font-size: 1.2rem;
    }
}