$mv_background_color: #f6f6f6;
body.mission-and-vision {
    .content-wrapper {
        margin: 6rem auto;
        max-width: 900px;
        .content-item {
            margin-top: 4rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
    .mission-and-vision-wrapper {
        a {
            color: #000;
        }
        margin-top: 4rem;
        h3 {
            font-size: 1rem;
        }
        .stretch-wrapper {
            margin: 1rem;
            display: flex;
            align-content: center;
            max-width: 54rem;
            flex-direction: row;
            @include breakpoint(small only) {
                flex-direction: column;
                max-height: 55rem;
                width: 100%;
                justify-content: center;
            }
            .mv-item-wrapper {
                overflow: hidden;
                &.middle {
                    @include breakpoint(medium up) {
                        margin: 0 1rem;
                    }
                }
                .mv-item {
                    padding: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 54rem;
                    height: 18rem;
                    background-color: $mv_background_color;
                    @include breakpoint(small only) {
                        flex-direction: column;
                        margin: 1rem 0;
                        width: 100%;
                    }
                    .mv-text {
                        display: none;
                        margin-left: 1.2rem;
                        width: 32rem;
                        @include breakpoint(small only) {
                            margin-top: 3rem;
                        }
                    }
                    .mv-image {
                        margin-left: .5rem;
                        height: 283px;
                        width: 240px;
                        @include breakpoint(small only) {
                            height: 270px;
                            width: 270px;
                        }
                    }
                    .mv-close {
                        align-self: flex-start;
                        font-size: 2rem;
                        display: none;
                        @include breakpoint(small only) {
                            order: -1;
                        }
                    }
                }
            }
        }
        .support {
            text-align: left;
            padding: 1rem 2rem;
        }
    }
    .support-wrapper {
        background-color: $mv_background_color;
        padding: 0 1rem;
        margin: 0 1rem;
        display: flex;
        align-items: center;
        img {
            width: 250px;
        }
        .support-text {
            padding-left: 1rem;
        }
        p,
        h3 {
            text-align: left;
        }
    }
    .mv-open-modal {
        width: 650px;
        @include breakpoint(small only) {
            width: 100%;
        }
        padding: 3rem;
        background-color: $mv_background_color;
        h3 {
            font-size: 1rem;
            text-align: center;
        }
    }
}