.styled-list-wrapper {
    h3 {
        padding-top: 0.7rem;
        color: $green;
    }
    ul {
        list-style: none;
        text-align: left;
        padding: 0 3rem;
        overflow-y: hidden;
        &:hover {
            overflow-y: auto;
        }
        li {
            margin: .7rem auto;
        }
        a {
            color: #000;
            text-decoration: underline;
            &:hover {
                color: $green;
            }
        }
        @include breakpoint(medium up) {
            max-height: 500px;
        }
    }
}