.content-wrapper {
    .content-item:nth-child(even) {
        border-radius: 25px;
        background-color: #f6f6f6;
        padding: .5rem 0;
    }
    .content-item {
        h2 {
            margin-top: 0 !important;
        }
        p {
            margin: 0;
        }
        .sub-header-wrapper {
            margin-top: 0 !important;
            ul {
                display: inline-flex;
                margin: 0;
                li {
                    list-style: none;
                    padding: 0 1rem;
                    align-self: center;
                }
                div {
                    background-color: #000;
                    width: 3rem;
                    border: 3.5px solid #000;
                    border-radius: 25px;
                }
            }
        }
        .generic-item-wrapper {
            margin-top: 3.5rem;
        }
        .vimeo-wrapper {
            iframe {
                width: 100%;
                height: 425px;
            }
        }
        button {
            border: 1px solid $green;
            border-radius: 50px;
            color: #000;
            width: 80%;
            padding: 0.5rem 0;
        }
    }
}