/**
 * prerequisites:
 * - module		"sqrt"
 */

.share-widget {
	$number-of-socials: 3;
	$size: 59px;
	$t-time: 0.4s;
	background-color: transparentize($white, 0.1);
	position: relative;
	width: $size;
	height: $size;
	color: $primary-color;
	font-size: 1.7rem;
	transition: all $t-time;
	.indicator {
		opacity: 1;
		transition: opacity $t-time;
	}
	a {
		display: block;
		position: relative;
		z-index: 1;
		float: left;
		width: 0px;
		height: 0px;
		transform: scale(0);
		opacity: 0;
		transition: color 0.3s, width $t-time, height $t-time, transform $t-time, opacity $t-time/2;
	}
	&:hover, &.open {
		width: $size * ceil(sqrt($number-of-socials));
		height: $size * round(sqrt($number-of-socials));
		.indicator {opacity: 0;}
		a {
			width: $size;
			height: $size;
			transform: scale(1);
			opacity: 1;
			transition: color 0.3s, width 0s $t-time, height 0s $t-time, opacity 0s $t-time, transform 0.2s $t-time;
		}
	}
}
